body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
}

.main-conteiner {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
}

.main-content-section {
    margin-top: 92px;
    margin-left: 88px;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.about-me-section {
}

.my-prodjects-section {
}

.my-work-experience-section {
}

.my-education-section {
}

/* sidebar section */

.sidebar-section {
    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section,
.skills-section {
    margin: 50px 0 0 40px;
    text-decoration: none;
    color: #fff;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    color: #fff;
}

/* contacts-section */

.contacts-section-type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 7px;
}

.contacts-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565F6B;
}

/*skills-section */

.skills-list {
    padding: 0 0 0 17px;
    color: #FB6D3A;
}

.skills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

